// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.creative-list img{
    max-width: 250px;
    max-height: 100px;
	border: 1px solid #eee;
}

.preview-creatives img {
	max-width: 100%;
	max-height: 100%;
}